.icon-alpine{
  background-image:url('images/Pine-Trees.png');
  box-shadow: 0 0 2px #999999;
  border-radius: 3px 3px 3px 3px;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
}
  .APTFFbyTAP-flickr {
    width:100%;
    overflow:hidden;
  }
  .APTFFbyTAP-flickr.generator, .APTFFbyTAP-flickr.plugin-settings{
    max-width:700px;
    margin:20px 0;
  }
  .APTFFbyTAP-flickr .help-link{
    width:100%;
    clear:both;
    padding:5px 0;
    margin: 20px 0 0 0;
  }
  .APTFFbyTAP-flickr.plugin-settings .title{
    width:25%;
    max-width: 180px;
    min-width: 100px;
    display:inline-block;
    margin: 0 10px 0 0;
    font-size:1.1em;
  }
  .APTFFbyTAP-flickr.plugin-settings h4{
    font-size:1.17em;
  }
  .APTFFbyTAP-flickr.plugin-settings  input[type="text"]{
    width:100px;
  }
  .APTFFbyTAP-flickr .form-table{
    margin:0;
  }
  .APTFFbyTAP-flickr .form-table th{
    width:40%;
    padding:10px 0;
  }
  .APTFFbyTAP-flickr .form-table td{
    padding:5px 0;
  }
  .APTFFbyTAP-flickr option{
    margin:5px;
  }
  .APTFFbyTAP-flickr label{
    margin-right:5px;
  } 
  .APTFFbyTAP-flickr  textarea{
    width:100%;
  }
  .APTFFbyTAP-flickr input[type="text"]{
    width:50%;
  }
  .APTFFbyTAP-flickr .description{
    width:100%;
    text-align:center;
  }  

  .APTFFbyTAP-flickr h4 {
    margin: 0.5em 0;
  }
  .APTFFbyTAP-flickr .top{
    clear:both;
    float:left;
    width:100%;
    padding:0 0 15px 0;
    margin-bottom:10px;
    border-bottom:1px solid #DDD;
    position:relative;
  }  
  .APTFFbyTAP-flickr .right, .APTFFbyTAP-flickr .left{
    width:48%;
    position:relative;
  }
  .APTFFbyTAP-flickr .right{
    float:right;
    clear:right;
  }
  .APTFFbyTAP-flickr .left{
    float:left;
    clear:left;
  }  
  .APTFFbyTAP-flickr .left input[type="text"]{
    width:95%;
  }
  .APTFFbyTAP-flickr .right input[type="text"] {
    width:30%;
  }  
  .APTFFbyTAP-flickr .bottom input[type="text"]{
    width:20%;
  }
  .APTFFbyTAP-flickr .bottom{
    float:left;
    clear:both;
    display:block;
    width:100%;
    height:auto;
    padding:15px 0 10px 0;
    margin-top:10px;
    border-top:1px solid #DDD;
    position:relative;
  }    
  .APTFFbyTAP-flickr .bottom .description{
    width:100%;
    text-align:left;
  }  

